.col-1-wrapper{
    background-color: black;
    height: 60%;
    width: 40%;
    
}
.row-1-wrapper{
    background-color: antiquewhite;
    height:100%;
    width: 80%;
    

}
.row-2-wrapper{
    background-color:blanchedalmond;
    height: 40%;
    width: 30%;

}
    
