.col-1-wrapper{
    background-color:magenta;
    height: 60%;
    width: 60%;
    
}
.row-1-wrapper{
    background-color:rosybrown;
    height:80%;
    width: 80%;
    

}
.row-2-wrapper{
    background-color:olivedrab;
    height: 50%;
    width: 30%;

}
    